# Nix build result
result
result-*

# Editor files
.zed/
.vscode/

# LibreOffice temporary files
.~lock.*

# System temporary files (first is mac os)
.DS_Store
*~
.cache/
.tmp/

# Credential files
.smb-credentials
*/.smb-credentials
